.coming-soon-bg {
  background-image: url("https://duruthemes.com/demo/html/cappa/demo2-dark/img/slider/1.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  isolation: isolate;
}
.coming-soon-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
}
