.underLine {
  width: 25%;
  height: 0.07px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: width 0.8s 0.3s ease;
}

.backgroundImg:hover .underLine {
  color: white;
  width: 100%;
}

.underLine2 {
    width: 25%;
    height: 0.07px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width 0.8s 0.3s ease;
}

.backgroundImg:hover .underLine2 {
    color: white;
    width: 100%;
}



.badgeBook {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
