@import "../node_modules/@flaticon/flaticon-uicons/css/all/all.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Gilda+Display&display=swap");
@import url("assets/plugins/themify-icons.css");
@import url("assets/plugins/flaticon.css");

* {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
}

.customPlaceholder::placeholder {
  color: #adadad;
  opacity: 1; /* Firefox */
}

.homeBg {
  background-image: url("./assets/home-bg.jpg");

  background-size: cover;
}

.animate__animated.animate__fadeInUp,
.animate__animated.animate__fadeOutDown {
  --animate-duration: 300ms;
  --animate-delay: 5s;
}

.mainContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px 0;
}

.button {
  --animate-duration: 400ms;
  /* --animate-delay: 0.9s; */
}

.customFadeInAnimation {
  animation: customFadeIn 1s linear;
}

@keyframes customFadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.customFadeUpAnimation {
  animation: customFadeIn 1s linear;
}

@keyframes customFadeIn {
  from {
    margin-bottom: -20px;
  }
  to {
    margin-bottom: 0px;
  }
}

.menu-card {
  animation: menuCardAnimation 1s linear;
}

@keyframes menuCardAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
